{% extends 'base.html' %}
{% load static %}
{% block title %}blog-details{% endblock title %}

{% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
  {% include 'companents/_bread.html' %}<!-- End Breadcrumbs -->

    <section class="sample-page">
      <div class="container">

        <p>
          You can duplicate this sample page and create any number of inner pages you like!
        </p>

      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}