{% for service in  services%}
<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
    <div class="service-item  position-relative">
      <div class="icon">
        <i class="fa-solid fa-mountain-city"></i>
      </div>
      <h3>{{ service.title }}</h3>
      <p>{{ service.description }}</p>
      <a href="{% url 'service_details' %}" class="readmore stretched-link">{{ service.button }} <i class="bi bi-arrow-right"></i></a>
    </div>
  </div><!-- End Service Item -->
{% endfor %}