{% for projects in  ourprojects %}
<div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
    <div class="portfolio-content h-100">
      <img src="{{ projects.image.url }}" class="img-fluid" alt="">
      <div class="portfolio-info">
        <h4>{{ projects.title }}</h4>
        <p>{{ projects.description }}</p>
        <a href="static/assets/img/projects/remodeling-1.jpg" title="Remodeling 1" data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
        <a href="url('{% url 'project_details' %}')" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
      </div>
    </div>
  </div><!-- End Projects Item -->



  {% endfor %}